@import url('../../vendor/fonts/fonts.css');

.app {
  display: flex;
  flex-direction: column;
  background: url('../../images/background.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;

  font-family: 'PT Sans', "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  position: relative;
  overflow: hidden;
  background: url('../../images/background.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}