@import "../../vars.scss";

.header{
  @include classicDiv(row);
  max-width: 1200px;
  width: 100%;
  position: relative;
  padding: 30px 35px 15px 35px;
  box-sizing: border-box;
  z-index: 50;

  @media screen and (max-width: 770px) {
    @include classicDiv(row);
    margin-top: 0;
    padding: 30px 15px 15px 15px;
    justify-content: space-between;
  }

  .logo{
    position: absolute;
    left: 35px;
    top: 30px;

    transition: all 0.3s ease-out;
    cursor: pointer;
    
    &:hover {
      opacity: .8;
    }

    @media screen and (max-width: 770px) {
      position: relative;
      left: 0;
      top: 0;
    }
  }
}

