@import "../../vars.scss";

.footer {
  @include classicDiv(row);
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  padding: 10px 35px 2px 35px;
  box-sizing: border-box;
  z-index: 70;
  
  .footer__text{
    @include classicText($fs9, $lhClassic, $whiteColor, center);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  @media screen and (max-width: 770px) {
    padding: 20px 25px 15px 25px;
  }

  @media screen and (max-width: 770px) {
    padding: 30px 15px 15px 15px;
  }
}