@import-normalize;
@import url('./vendor/fonts/fonts.css');

body {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  overflow: hidden;
  background: url('./images/background.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

