$fsMenu: 12px;
$fs21: 21px;
$fs9: 9px;
$fs120: 120px;
$fs15: 15px;

$lhClassic: 32px;
$lh16: 16px;
$lh18: 18px;
$lh41: 41px;
$lh30: 30px;
$lh22: 22px;

$blackColor: #000000;
$blueColor: #00d6ff;
$whiteColor: #ffffff;
$yellowColor: #ffd01f;
$violetColor: #874cff;
$pinkColor: #ff62bd;

@mixin classicText($fs, $lh, $c, $ta) {
  font-size: $fs;
  font-weight: normal;
  line-height: $lh;
  color: $c;
  text-align: $ta;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@mixin classicDiv($type) {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: $type;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}